* {
    margin: 0;
    padding: 0;
}


#spotList_container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

#spotList {
    
    display: flex;
    flex-wrap: wrap;
    width: 80rem;
}

#spotItems {
    margin: 1em;
}

