#form_container {
    display: flex;
    justify-content: center;
}

#form_texts {
    width: 25em;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
textarea {
    height: 10em;
}

#button {
    display: flex;
    justify-content: center;
}

h4, #button {
    border-top: 2px solid black;
    margin-top: 1em;
    padding: 0.5em 0;
}


#button button {
    padding: 0.5em 0;
    width: 8em;
    margin-bottom: 5em;
}

.errors {
    color: red;
    font-size: 10px;
}